
  <div class="row">
    <div class="col-md-12 center">
    <div class="col-xs-7" id = "welcome-image" >
      <%= image_tag("blog.png", :alt => "Blog") %>
    </div>
    <div class="col-xs-5" id="login-home">
        <div>
          <%= render 'sessions/login' %>
        </div>
      </div>
  </div>
</div>
