<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://xanani.co.za">Xanani</a> With <i
      class="glyphicon glyphicon-heart"></i> from Vutivi.
    </small>
    <nav>
      <ul>
        <li> <%= link_to "Articles", articles_path %> </li>
      </ul>
    </nav>
  </footer>
</div>
